{% extends "base.html" %}
{% block title %}
<title>Complain Form</title>
{% endblock %}
{% load material_form %}
{% block content %}
<div class="container">
  <h2>Submit your complain</h2>
  <form method="POST">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <button type="submit" name="_submit" class="btn">Submit</button>
  </form>
</div>
<ul>
  {% for message in messages %}
  <li class="{{ message.tags }}">
    {% if 'safe' in message.tags %}
    {{ message|safe }}
    {% else %}
    {{ message }}
    {% endif %}{# if 'safe' in message.tags #}
  </li>
  {% endfor %}{# for message in messages #}
</ul>
{% endblock %}
